

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Definition of the design system. All colors, gradients, fonts, etc should be defined here. 
All colors MUST be HSL.
*/

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222 47% 11%;

    --card: 0 0% 100%;
    --card-foreground: 222 47% 11%;

    --popover: 0 0% 100%;
    --popover-foreground: 222 47% 11%;

    --primary: 217 91% 60%;
    --primary-foreground: 0 0% 100%;

    --secondary: 214 100% 97%;
    --secondary-foreground: 217 91% 60%;

    --muted: 210 40% 96%;
    --muted-foreground: 215 16% 47%;

    --accent: 217 91% 60%;
    --accent-foreground: 0 0% 100%;

    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 100%;

    --border: 214 32% 91%;
    --input: 214 32% 91%;
    --ring: 217 91% 60%;

    --radius: 0.5rem;

    --sidebar-background: 217 91% 60%;
    --sidebar-foreground: 0 0% 100%;
    --sidebar-primary: 0 0% 100%;
    --sidebar-primary-foreground: 217 91% 60%;
    --sidebar-accent: 217 91% 55%;
    --sidebar-accent-foreground: 0 0% 100%;
    --sidebar-border: 217 91% 55%;
    --sidebar-ring: 0 0% 100%;

    --chart-1: 217 91% 60%;
    --chart-2: 197 37% 24%;
    --chart-3: 43 74% 66%;
    --chart-4: 27 87% 67%;
    --chart-5: 10 79% 63%;
  }

  .dark {
    --background: 222 47% 11%;
    --foreground: 0 0% 100%;

    --card: 222 47% 11%;
    --card-foreground: 0 0% 100%;

    --popover: 222 47% 11%;
    --popover-foreground: 0 0% 100%;

    --primary: 217 91% 60%;
    --primary-foreground: 0 0% 100%;

    --secondary: 217 33% 18%;
    --secondary-foreground: 0 0% 100%;

    --muted: 217 33% 18%;
    --muted-foreground: 215 20% 65%;

    --accent: 217 33% 18%;
    --accent-foreground: 0 0% 100%;

    --destructive: 0 63% 31%;
    --destructive-foreground: 0 0% 100%;

    --border: 217 33% 18%;
    --input: 217 33% 18%;
    --ring: 217 91% 60%;

    --sidebar-background: 222 47% 11%;
    --sidebar-foreground: 0 0% 100%;
    --sidebar-primary: 217 91% 60%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 217 33% 18%;
    --sidebar-accent-foreground: 0 0% 100%;
    --sidebar-border: 217 33% 18%;
    --sidebar-ring: 217 91% 60%;

    --chart-1: 217 91% 60%;
    --chart-2: 197 37% 24%;
    --chart-3: 43 74% 66%;
    --chart-4: 27 87% 67%;
    --chart-5: 10 79% 63%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}
